<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="signin content">
    <form action="/signin" method="post">
      <label for="userName">Name:</label>
      <input type="text" id="userName" name="userName" required>
      <label for="password">password:</label> 
      <input type="text" id="password" name="password" required>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>