<nav>
    <div class="site-title">
      <a href="/"><h1>BMI </h1></a>
      <p>A BMI Calculator and Tracker Site</p>
    </div>
    <ul>
      <li><a href="/allResults">BMI recent results</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/bmi">New BMI</a></li>
    </ul>
  </nav>